<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493068559722-gk845vlmv7qg8kvhbl4080ft4c7ctu1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493068559722-gk845vlmv7qg8kvhbl4080ft4c7ctu1q</string>
	<key>API_KEY</key>
	<string>AIzaSyDhJSYt_RtZp3br3-j4FN8YRhXSZj8lsGU</string>
	<key>GCM_SENDER_ID</key>
	<string>493068559722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ies.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ies-scholarship</string>
	<key>STORAGE_BUCKET</key>
	<string>ies-scholarship.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493068559722:ios:53b3bc590862656ce67113</string>
</dict>
</plist>